:root.theme-light {
  --accent-color: #ff8dcb;
  --text-main-color: #353430;
  --button-list-color: #353430;
  --button-list-hover-color: rgba(50, 49, 45, 0.4);
  --subtitle-color: #353430;
  --corner-color: #353430;
  --rec-element-color: transparent;
  --title-decor: #ff8dcb;
  --background-color: #fff1f7;
  --background-image: url(../images/cover-image-light.png);
  --heading-text-color: #353430;
  --header-color: #ffc2e6;
  --footer-color: #ffc2e6;
  --shadow-color: #ff8dcb;
  --unique-decoration-color: #353430;
}
