.page {
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.rec {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
  position: absolute;
  top: 14px;
  right: 19px;
  color: var(--rec-element-color);
  text-align: center;
  font-family: var(--font-family);
  font-size: var(--text-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--text-font-size);
}

.rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--rec-element-color);
  box-shadow: 0 0 4px 2px var(--rec-element-color);
  margin-bottom: 1px;
}

button {
  cursor: pointer;
}

.header {
  padding: 10px;
  height: 100vh;
  min-height: 768px;
  display: grid;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: end;
}

.header__grid-template {
  display: grid;
  grid-template-columns: 49%;
  justify-content: end;
  align-self: start;
}

.header__theme-menu {
  align-self: start;
}

.decorated-element::before,
.decorated-element::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-element::before {
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--corner-color);
  border-right: 1px solid var(--corner-color);
}

.decorated-element::after {
  left: 10px;
  bottom: 10px;
  border-left: 1px solid var(--corner-color);
  border-bottom: 1px solid var(--corner-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style-type: none;
  gap: 12px;
}

.header__theme-menu-item:hover {
  outline: 1px solid var(--button-list-hover-color);
}

.header__theme-menu-button {
  background: none;
  border: none;
  color: var(--button-list-color);
  font-family: var(--font-family);
  font-size: var(--text-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--text-font-size);
  text-transform: lowercase;
  padding: 2px 13px 4px 13px;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--button-list-color);
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  box-shadow: 0 1px 0 var(--button-list-color);
}

.header__topic-name {
  color: var(--header-color);
  text-shadow: 4px 4px 0 var(--shadow-color);
  font-family: var(--font-family);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  margin-inline-start: -2%;
  align-self: end;
}

.header__topic-description {
  color: var(--heading-text-color);
  font-family: var(--font-family);
  font-size: var(--text-font-size);
  font-style: normal;
  font-weight: 700;
  line-height: var(--text-line-height);
  background-color: var(--title-decor);
  align-self: start;
}

main {
  padding: 0 10px;
}

.why {
  display: grid;
}

.section__header {
  color: var(--subtitle-color);
  font-family: var(--font-family);
  font-size: var(--text-font-size);
  font-style: normal;
  font-weight: 700;
  line-height: var(--text-line-height);
  margin-top: 41px;
  margin-bottom: 20px;
}

article {
  margin-bottom: 21px;
}

.what__template {
  padding-top: var(--small-gap);
}

.section__sub-header {
  color: var(--heading-text-color);
  font-family: var(--font-family);
  font-size: var(--text-font-size);
  font-style: normal;
  font-weight: 700;
  line-height: var(--text-line-height);
  background-color: var(--title-decor);
  margin: 0 0 10px 0;
}

.sub-header-light {
  font-weight: 400;
}

.section__text {
  color: var(--text-main-color);
  font-family: var(--font-family);
  font-size: var(--text-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--text-line-height);
  padding-bottom: 20px;
}

.section__text:last-of-type {
  padding-bottom: 0;
}

.link-unique {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
  cursor: pointer;
}

.link-unique:hover {
  border-bottom: 1px solid var(--unique-decoration-color);
}

.link-unique:focus {
  outline: none;
}

.link-unique:focus-visible {
  outline: 1px solid var(--unique-decoration-color);
}

.what {
  display: grid;
}

.how {
  display: grid;
}

.how-template {
  padding-top: var(--small-gap);
}

.section__subtitle {
  color: var(--heading-text-color);
  background-color: var(--title-decor);
  font-family: var(--font-family);
  font-size: var(--text-font-size);
  font-style: normal;
  font-weight: 700;
  line-height: var(--text-line-height);
  margin-bottom: 20px;
}

.section__subheader {
  font-weight: 400;
  margin-bottom: 12px;
}

.image-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image-section__header {
  color: var(--heading-text-color);
  background-color: var(--title-decor);
  font-family: var(--font-family);
  font-size: var(--text-font-size);
  font-style: normal;
  font-weight: 700;
  line-height: var(--text-line-height);
  margin-top: 50px;
}

.image-section__element {
  inline-size: 100%;
}

.footer {
  margin-top: 60px;
  position: relative;
  display: grid;
  place-items: center;
  height: 100vh;
  min-height: 668px;
}

.footer__title {
  justify-self: center;
  align-self: center;
  position: relative;
  display: flex;
  justify-content: center;
  color: var(--footer-color);
  text-shadow: 2px 2px 0 var(--shadow-color);
  font-family: var(--font-family);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
}

/* мобильный — до 768px */
@media (width < 768px) {
  .header {
    min-height: 668px;
    grid-template-rows: min-content 1fr min-content;
    justify-items: start;
    padding-block-start: 0;
    padding-block-end: 0;
    margin-block-end: 0;
  }

  .header__theme-menu {
    justify-self: end;
    align-self: start;
    margin-block-start: 75px;
  }

  .header__topic-name {
    align-self: start;
    margin-block-start: 70px;
    margin-inline-start: -1px;
  }

  .header__grid-template {
    inline-size: 100%;
    grid-template-columns: 100%;
    justify-content: start;
    justify-self: start;
    align-self: end;
    margin-block-end: 67px;
  }

  .decorated-element::after {
    bottom: auto;
    top: calc(100vh - 35px);
  }

  .why .section__header {
    margin-bottom: 16px;
  }

  .what .section__header {
    margin-top: 11px;
  }

  .how .section__header {
    margin-top: 10px;
  }

  .image-section__header {
    margin-top: 20px;
  }

  .footer {
    margin-block-start: 45px;
  }
}

/* планшет — от 768 до 1024px */
@media (768px <= width < 1024px) {
  .rec {
    top: 24px;
    right: 29px;
  }

  .header {
    padding: 20px;
  }

  .header__theme-menu {
    align-self: center;
    margin-inline-end: 0;
  }

  .decorated-element::before {
    top: 20px;
    right: 20px;
  }

  .decorated-element::after {
    left: 20px;
    bottom: 20px;
  }

  .header__topic-name {
    justify-self: start;
    margin-inline-start: -2%;
  }

  .header__grid-template {
    display: grid;
    grid-template-columns: 50%;
    justify-content: end;
    padding-block-start: 165px;
  }

  main {
    padding: 0 20px;
  }

  .why {
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
    margin: 60px 0 20px 0;
  }

  .section__header {
    margin-top: 0;
  }

  .what {
    display: grid;
    column-gap: 20px;
    margin-top: 55px;
    align-items: start;
  }

  .what__template {
    padding-top: 0;
    margin-top: 0;
    align-self: start;
    width: 200px;
  }

  .section__topic {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
  }

  .how {
    margin-top: 50px;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }

  .how-template {
    padding: 0;
  }

  .image-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 100%;
    margin-top: 60px;
  }

  .image-section__header {
    margin-top: 0;
    margin-bottom: 0;
    grid-column: span 3;
  }

  .image-section__element {
    block-size: 100%;
    object-fit: cover;
  }

  .image-section__element-sunset {
    grid-column: span 2;
  }

  .image-section__element-ice-cream {
    grid-row: span 2;
  }

  .image-section__element-tape {
    grid-row: span 2;
  }

  .image-section__element-street {
    grid-column: span 2;
  }

  .image-section__element-books {
    grid-column: 2;
    grid-row: 3;
  }
}

/* десктоп — от 1024px и выше */
@media (width >= 1024px) {
  .rec {
    top: 24px;
    right: 29px;
  }

  .header {
    padding: 20px;
  }

  .decorated-element::before {
    top: 20px;
    right: 20px;
  }

  .decorated-element::after {
    left: 20px;
    bottom: 20px;
  }

  .header__theme-menu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    align-self: start;
  }

  .header__theme-menu-list {
    padding: 0 0 0 20px;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-inline-start: -2%;
  }

  .header__topic-name {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    align-self: end;
    justify-self: start;
    margin-inline-start: -2%;
  }

  .header__grid-template {
    grid-template-columns: 64%;
    justify-content: end;
    margin-top: 0;
    margin-block-start: 12%;
  }

  main {
    padding: 0 20px;
  }

  .why {
    grid-template-columns: 1fr 2fr;
    column-gap: 10px;
    margin: 60px 0 18px 0;
  }

  .section__header {
    margin-top: 0;
  }

  .what {
    display: grid;
    column-gap: 20px;
    margin-top: 55px;
    align-items: start;
  }

  .what__template {
    padding-top: 0;
    margin-top: 0;
    align-self: start;
    width: 315px;
  }

  .section__topic {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }

  .how {
    margin-top: 55px;
    grid-template-columns: 1fr 2fr;
    column-gap: 10px;
  }

  .how-template {
    padding: 0;
  }

  .image-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 100%;
    margin-top: 55px;
  }

  .image-section__header {
    margin-top: 0;
    margin-bottom: 0;
    grid-column: span 3;
  }

  .image-section__element {
    block-size: 100%;
    object-fit: cover;
  }

  .image-section__element-sunset {
    grid-column: span 2;
  }

  .image-section__element-ice-cream {
    grid-row: span 2;
  }

  .image-section__element-tape {
    grid-row: span 2;
  }

  .image-section__element-street {
    grid-column: span 2;
  }

  .image-section__element-books {
    grid-column: 2;
    grid-row: 3;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
