:root {
    --accent-color: #FF0070;
    --text-main-color: #F1B2CE;
    --button-list-color: #FF0070;
    --button-list-hover-color: rgba(255, 0, 112, 0.40);
    --font-family: 'IBM Plex Mono', monospace;
    --text-line-height: line-height: 23.4px;
    --subtitle-color: #FF0070;
    --corner-color: #FF0070;
    --rec-element-color: #FF0070;
    --text-font-size: 18px;
    --title-decor: #FF0070;
    --background-color: #000028;
    --heading-text-color: #000028;
    --header-color: #db00ff;
    --footer-color: #db00ff;
    --unique-decoration-color: #F1B2CE;
    --shadow-color: #ff0070;
    --small-gap: 12px;
    --mid-gap: 23px;
  }
  
